<p>Welcome {{user.username}}</p>

<ul>
  {{#ifNotEqual user.role "ALUMNI"}}
  {{#each users}}
  {{#ifEqual role "BOSS"}}
  <p>Name: </p><a href="/userDetail/{{id}}">{{username}}</a>
  <p>Role: {{role}}</p>
  {{/ifEqual}}
  {{/each}}
  {{/ifNotEqual}}
</ul>

<ul>
  {{#ifNotEqual user.role "ALUMNI"}}
  {{#each users}}
  {{#ifEqual role "TA"}}
  <p>Name: </p><a href="/userDetail/{{id}}">{{username}}</a>
  <p>Role: {{role}}</p>
  {{/ifEqual}}
  {{/each}}
  {{/ifNotEqual}}
</ul>

<ul>
  {{#ifNotEqual user.role "ALUMNI"}}
  {{#each users}}
  {{#ifEqual role "DEVELOPER"}}
  <p>Name: </p><a href="/userDetail/{{id}}">{{username}}</a>
  <p>Role: {{role}}</p>
  {{/ifEqual}}
  {{/each}}
  {{/ifNotEqual}}
</ul>

<ul>
  {{#each users}}
  {{#ifEqual role "ALUMNI"}}
  <p>Name: </p><a href="/userDetail/{{id}}">{{username}}</a>
  <p>Role: {{role}}</p>
  {{/ifEqual}}
  {{/each}}
</ul>

<a href="/logout"><button>Log out</button></a>
{{#ifEqual user.role "BOSS"}}
<a href="/createUser"><button>Add new user</button></a>
{{/ifEqual}}
{{#ifEqual user.role "TA"}}
<a href="/createCourse"><button>Add new course</button></a>
{{/ifEqual}}
