<div class="button-container">

  <a href="/logout"><button>Log out</button></a>

  {{#ifEqual user.role "BOSS"}}
  <a href="/createUser"><button>Add new user</button></a>
  {{/ifEqual}}

</div>

<div class="list-container">
  <table>

    <caption>
      <h2 class="list-title">Users:</h2>
    </caption>

    {{#ifNotEqual user.role "ALUMNI"}}
    {{#each users}}
    {{#ifEqual role "BOSS"}}
    <tr>
      <td>Name: <a href="/userDetail/{{id}}" class="paragraph-link">{{username}}</a></td>
      <td><span>Role: {{role}}</span></td>
    </tr>
    {{/ifEqual}}
    {{/each}}
    {{/ifNotEqual}}

    {{#ifNotEqual user.role "ALUMNI"}}
    {{#each users}}
    {{#ifEqual role "TA"}}
    <tr>
      <td>Name: <a href="/userDetail/{{id}}" class="paragraph-link">{{username}}</a></td>
      <td><span>Role: {{role}}</span></td>
    </tr>
    {{/ifEqual}}
    {{/each}}
    {{/ifNotEqual}}

    {{#ifNotEqual user.role "ALUMNI"}}
    {{#each users}}
    {{#ifEqual role "DEVELOPER"}}
    <tr>
      <td>Name: <a href="/userDetail/{{id}}" class="paragraph-link">{{username}}</a></td>
      <td><span>Role: {{role}}</span></td>
    </tr>
    {{/ifEqual}}
    {{/each}}
    {{/ifNotEqual}}

    {{#each users}}
    {{#ifEqual role "ALUMNI"}}
    <tr>
      <td>Name: <a href="/userDetail/{{id}}" class="paragraph-link">{{username}}</a></td>
      <td><span>Role: {{role}}</span></td>
    </tr>
    {{/ifEqual}}
    {{/each}}

  </table>

</div>
